.modal {
    position: fixed;
    left: 5%;
}



.modal-header {
    border: 0px;
}

.modal-footer {
    border: 0px;
}
/* Añade algo de margen en la parte superior de la página */
.content-header {
    margin-top: 2rem;
  }
  
  
  
  /* Estiliza las etiquetas de los grupos de formulario */
  .form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Estiliza las entradas de los grupos de formulario */
  .form-group input,
  .form-group select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
  }
  
  /* Estiliza el área de texto del grupo de formulario */
  .form-group textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    resize: vertical;
  }
  
  /* Estiliza el cuerpo de la tarjeta */
  .card-body {
    padding: 2rem;
    font-size: 1rem;
    font-weight: normal;
    color: #333;
  }
  
  /* Estiliza el pie de la tarjeta */
  .card-footer {
   
    color: white;
  
    padding: 1rem;
    text-align: center;
  }
  
  /* Estiliza el botón de envío */
  .card-footer button {
    background-color: #496a77;
    color: #e2f3fa;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Estiliza el botón de envío al pasar el cursor por encima */
  .card-footer button:hover {
    background-color: #264146;
  }
  
  /* Estiliza el botón de envío al hacer clic */
  .card-footer button:active {
    background-color: #e6e6e6;
  }
  
  /* Estiliza los botones de opción */
  .form-group input[type="radio"] {
    margin-right: 0.5rem;
  }
  
  /* Estiliza las etiquetas de los botones de opción */
  .form-group label[for="option-personal"],
  .form-group label[for="option-comunidad"],
  .form-group label[for="option-terceros"] {
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  
  /* Estiliza la etiqueta del área de texto */
  .form-group label[for="requerimiento-usuario"] {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Estiliza el área de texto */
  #requerimiento-usuario {
    height: 5rem;
  }
  
  /* Estiliza los elementos de selección */
  .form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'><polygon points='0,0 14,0 7,7'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px
  }
  /* Añade algo de margen en la parte superior de la página */
.content-header {
    margin-top: 2rem;
  }
  
  
  
  /* Estiliza las etiquetas de los grupos de formulario */
  .form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Estiliza las entradas de los grupos de formulario */
  .form-group input,
  .form-group select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
  }
  
  /* Estiliza el área de texto del grupo de formulario */
  .form-group textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    resize: vertical;
  }
  
  /* Estiliza el cuerpo de la tarjeta */
  .card-body {
    padding: 2rem;
    font-size: 1rem;
    font-weight: normal;
    color: #333;
  }
  
  /* Estiliza el pie de la tarjeta */
  .card-footer {
   
    color: white;
  
    padding: 1rem;
    text-align: center;
  }
  
  /* Estiliza el botón de envío */
  .card-footer button {
    background-color: #496a77;
    color: #e2f3fa;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Estiliza el botón de envío al pasar el cursor por encima */
  .card-footer button:hover {
    background-color: #323346;
  }
  
  /* Estiliza el botón de envío al hacer clic */
  .card-footer button:active {
    background-color: #e6e6e6;
  }
  
  /* Estiliza los botones de opción */
  .form-group input[type="radio"] {
    margin-right: 0.5rem;
  }
  
  /* Estiliza las etiquetas de los botones de opción */
  .form-group label[for="option-personal"],
  .form-group label[for="option-comunidad"],
  .form-group label[for="option-terceros"] {
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  
  /* Estiliza la etiqueta del área de texto */
  .form-group label[for="requerimiento-usuario"] {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Estiliza el área de texto */
  #requerimiento-usuario {
    height: 5rem;
  }
  
  /* Estiliza los elementos de selección */
  .form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'><polygon points='0,0 14,0 7,7'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px
  }

  