

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}




.rounded-pill {

  border-radius: 100px; /* Ajusta el valor para cambiar la forma ovalada */

  padding: 20px; /* Ajusta el valor para cambiar el espaciado interno */

}


.content-wrapper
{
  background-color: #dadadac5;
}

.form-check {
  display: flex;
  align-items: center;
  padding: 10px;
}

.form-check-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: #ccc;
  position: relative;
  transition: background-color 0.3s ease;
}

.form-check-input:checked {
  background-color: #4f7eff;
}

.form-check-input::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s  
 ease;
}

.form-check-input:checked::after {
  transform: translateX(20px);
}

.form-check-label {
  margin-left: 10px;
}
.interructores {
  border-width: 2px;
  border-radius: 30px; /* Add this line */
}

.exportar {
  border-width: 2px;
  border-radius: 10px; /* Add this line */
}



.card_table {
background-color: #fff;
border-radius: 20px;
box-shadow: 0 7px 30px 0 #5b737b1c;
color: #454545;
display: block;
padding: 1.25rem;
} 

.dataTables_length {
  position: absolute;
  top: 0%; /* ajusta la posición superior */
  left: 1%; /* ajusta la posición izquierda */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .dataTables_length {
    top: -8%; /* ajusta la posición superior para pantallas pequeñas */
    left: 30%; /* ajusta la posición izquierda para pantallas pequeñas */
  }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
  .dataTables_length {
    top: -8%; /* ajusta la posición superior para pantallas pequeñas */
    left: 30%; /* ajusta la posición izquierda para pantallas pequeñas */
  }
}

.Detalles {
  align-items: center;
  display: flex;
  justify-content: center;
 color: #0f0f0f;
}

.exportaciones{
  display: none;
}


.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.estatus {
  border-radius: 20px;
  width: 49%;
}



.legend-item:before {
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 10px;
  margin-right: .5rem;
  width: 10px;
}
.leyend1:before {
  background-color: #0056b8;
}

.leyend2:before {
  background-color: #ffd000;
}
.leyend3:before, .leyend4:before, .leyend5:before {
  background-color: #d72830;
}