/* fallback */

/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
} */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.modal {
  position: absolute;
  /* o absolute */
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

th,
td {
  padding: 2px;
  font-size: 14px;
}

thead {
  font-size: 14px;
}

tr:nth-child(even) {
  background: linear-gradient(to right, #e4e6e7, #caced3, #c4cacf);
}

.btn-xs {
  padding: 0.10rem;
}

.btn-container {

  display: flex;

  justify-content: flex-end;

}


.btn-xs-xs {

  padding: 0.25rem;

  background-color: rgb(94, 97, 97);

  border-radius: 5px;

  align-items: center;

}








.modal-content {
  border-top: 40px solid #3c5b72;
  border-bottom: 30px solid #3c5b72;
  border-radius: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 14px;
}



.form-login_imagen {
/* Utilicé top en lugar de margin-top para posicionar el elemento */
top: -30px;
width: 80%;
margin: auto;

/* Agregué .center para centrar el contenido */

  display: flex;
  justify-content: center;
  align-items: center;


box-shadow: 7px 13px 37px rgba(250, 246, 246, 0.8);

padding: 50px 50px;
border-top: 15px solid #003366;
border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;

}

.form-login_imagen {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s, transform 5.5s;
}

.form-login_imagen.mostrar {
  opacity: 1;
  transform: translateY(0);
}

.fondo {
  border-top: 5px solid #496a77;
  border-radius: 10px 10px 10px 10px;
}
/* Añade algo de margen en la parte superior de la página */
.content-header {
  margin-top: 2rem;
}



/* Estiliza las etiquetas de los grupos de formulario */
.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Estiliza las entradas de los grupos de formulario */
.form-group input,
.form-group select {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

/* Estiliza el área de texto del grupo de formulario */
.form-group textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  resize: vertical;
}

/* Estiliza el cuerpo de la tarjeta */
.card-body {
  
  padding: 2rem;
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

/* Estiliza el pie de la tarjeta */
.card-footer {
 
  color: white;

  padding: 1rem;
  text-align: center;
}

/* Estiliza el botón de envío */
.card-footer button {
  background-color: #496a77;
  color: #e2f3fa;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Estiliza el botón de envío al pasar el cursor por encima */
.card-footer button:hover {
  background-color: #264146;
}

/* Estiliza el botón de envío al hacer clic */
.card-footer button:active {
  background-color: #e6e6e6;
}

/* Estiliza los botones de opción */
.form-group input[type="radio"] {
  margin-right: 0.5rem;
}

/* Estiliza las etiquetas de los botones de opción */
.form-group label[for="option-personal"],
.form-group label[for="option-comunidad"],
.form-group label[for="option-terceros"] {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

/* Estiliza la etiqueta del área de texto */
.form-group label[for="requerimiento-usuario"] {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Estiliza el área de texto */
#requerimiento-usuario {
  height: 5rem;
}

/* Estiliza los elementos de selección */
.form-group select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'><polygon points='0,0 14,0 7,7'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px
}
/* 
@media (max-width: 767px) {

  .table-responsive {

      width: 100%;

      margin-bottom: 1rem;

      overflow-x: auto;

      -webkit-overflow-scrolling: touch;

      -ms-overflow-style: -ms-autohiding-scrollbar;

  }

  .table-responsive > .table {

      margin-bottom: 0;

  }

} */

@media (max-width: 767px) and (orientation: portrait) {
.table-responsive {
    width: 100%;
    margin-bottom: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table {
    margin-bottom: 0;
}
}

@media (max-width: 767px) {

.dataTables_filter input {

    width: 100%;

    margin-left: 0;

}


.dataTables_filter label {

    width: 100%;

    margin-left: 0;

}

}


.modal-content {

  width: 92%;

  height:70%;

}


.dataTables_filter {

margin-left: 0 !important;

}


.dataTables_filter input {

width: 80% !important;

}

.modal{
  top: 40%;
}



