.row {
  display: flex;
  flex-wrap: wrap;
}
  content-wrapper
{
  background-color: #dadadac5;
}


  .col-lg-4, .col-sm-4, .col-md-4 {
    flex-basis: 33.33%; /* 4 columns */
    max-width: 33.33%;
  }
  
  /* Small screen (sm) */
  @media (max-width: 768px) {
    .col-lg-4, .col-sm-4, .col-md-4 {
      flex-basis: 50%; /* 2 columns */
      max-width: 50%;
    }
  }
  
  /* Extra small screen (xs) */
  @media (max-width: 480px) {
    .col-lg-4, .col-sm-4, .col-md-4 {
      flex-basis: 100%; /* 1 column */
      max-width: 100%;
    }
  }
  
  .container-fluid-smaller {
    max-width: 90%; /* adjust the width to your liking */
    margin: 0 auto; /* center the container */
    padding: 0 1rem; /* add some padding */
  }
  
  /* Small screen (sm) */
  @media (max-width: 768px) {
    .container-fluid-smaller {
      max-width: 100%; /* full width on small screens */
    }
  }
  
  .card {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 7px 30px 0 #5b737b1c;
    color: #454545;
    display: block;
    padding: 1.25rem; /* adjust the padding */
    margin-bottom: 1rem; /* add some margin bottom */
  }


  .box {
    position: relative;
    top: 20%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 7px 30px 0 #5b737b1c;
    color: #454545;
    display: block;
    padding: 0.2rem; /* adjust the padding */
    margin-bottom: 1rem; /* add some margin bottom */
  }
  
  /* Small screen (sm) */
  @media (max-width: 768px) {
    .box {
      padding: 0.5rem; /* reduce padding on small screens */
    }
  }
  
  .icon-dash.yellow {
    background-color: #ffd000;
  }
  
  .icon-dash.blue {
    background-color: #0056b8;
  }
  
  .icon-dash.red {
    background-color: #d72830;
  }
  
  .mr-2 {
    margin-right: .5rem !important;
  }
  
  .icon {
    align-items: center;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    width: 1.5rem;
  }
  
  .icon-dash {
    border-radius: 50%;
    color: #fff;
    padding: 1.5rem;
    position: absolute;
    right: 10px; /* adjust the right position to move the icon to the left */
  }
  
 
  
  span {
    font-style: inherit;
    font-weight: inherit;
  }

  .is-size-full {
    font-size: 3rem;
    text-align: center; /* center horizontally */
  }

  .has-text-weight-bold {
    font-weight: 700 !important;
}

h2 {
    display: block;
    font-size: 0.7em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.is-size-7 {
    font-size: .75rem !important;
}
.has-text-grey-light {
    color: #313131 !important;
}
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}




.form-login_imagen2{
/* Utilicé top en lugar de margin-top para posicionar el elemento */
top: -30px;
width: 71%;
height: 20%;
margin: auto;
/* Agregué .center para centrar el contenido */
display: flex;
justify-content: center;
align-items: center;
box-shadow: 7px 13px 37px rgba(250, 246, 246, 0.8);
padding: 50px 50px;
border-top: 15px solid #003366;
border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
}

.form-login_imagen {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s, transform 5.5s;
}

.form-login_imagen.mostrar {
  opacity: 1;
  transform: translateY(0);
}