:root {
    --primary-color: rgb(11, 78, 179);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .width-50 {
    width: 100%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
  
  .form {

    /* other styles */
  
    margin: 2rem auto;
  
    border: 1px solid #ccc;
  
    border-radius: 0.35rem;
  
    padding: 1.5rem;
  
  }

  .container-parent {

    display: flex;
  
    justify-content: center;
  
  }
  
  
  .container {
  
    /* existing styles */
  
    width: auto;
  
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }


  /******************************************
  /* .card-body {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333333;
} */

.bodersueve_fieldset {
    margin: left 1px;
    margin-right: 1px;
    height: auto;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);
    font-size: 16px;
    outline: none;
}

.card-body {
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card-body {
    position: relative;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.card-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fondo {
    border-top: 5px solid #496a77;
    border-radius: 10px 10px 10px 10px;
}
/* Añade algo de margen en la parte superior de la página */
.content-header {
    margin-top: 2rem;
  }
  
  
  
  /* Estiliza las etiquetas de los grupos de formulario */
  .form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  

  
  /* Estiliza el área de texto del grupo de formulario */
  .form-group textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    resize: vertical;
  }
  
  /* Estiliza el cuerpo de la tarjeta */
  .card-body {
    padding: 2rem;
    font-size: 1rem;
    font-weight: normal;
    color: #333;
  }
  
  /* Estiliza el pie de la tarjeta */
  .card-footer {
   
    color: white;
  
    padding: 1rem;
    text-align: center;
  }
  
  /* Estiliza el botón de envío */
  .card-footer button {
    background-color: #496a77;
    color: #e2f3fa;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Estiliza el botón de envío al pasar el cursor por encima */
  .card-footer button:hover {
    background-color: #323346;
  }
  
  /* Estiliza el botón de envío al hacer clic */
  .card-footer button:active {
    background-color: #e6e6e6;
  }
  
  /* Estiliza los botones de opción */
  .form-group input[type="radio"] {
    margin-right: 0.5rem;
  }
  
 
  
  /* Estiliza la etiqueta del área de texto */
  .form-group label[for="requerimiento-usuario"] {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Estiliza el área de texto */
  #requerimiento-usuario {
    height: 5rem;
  }
  
  /* Estiliza los elementos de selección */
  .form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'><polygon points='0,0 14,0 7,7'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px
  }

  #requerimiento-usuario{
    width: 80%;
  }

  .textarea{
    width: 80%;
  }