

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.rounded-pill {
  border-radius: 100px; /* Ajusta el valor para cambiar la forma ovalada */
  padding: 20px; /* Ajusta el valor para cambiar el espaciado interno */
}
.content-wrapper
{
  background-color: #dadadac5;
}

.card_table {
background-color: #fff;
border-radius: 20px;
box-shadow: 0 7px 30px 0 #5b737b1c;
color: #454545;
display: block;

} 


.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
  align-items: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(.5em - 1px) calc(.75em - 1px);
  position: relative;
  vertical-align: top;
}


body, button, input, select, textarea {
  font-family: Roboto, DM Sans, sans-serif, -apple-system, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #f2f2f2;
  font-size: 13px;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
.dividir {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.dividir::before, .dividir::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #7a7a7a;
  margin: 0 10px;
}

.dividir span {
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #7a7a7a;
}

input.input {
  border-radius: 8px;
}


.input, .select select, .textarea {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border-radius: 8px;
  color: #161616;
}



.button.is-info {
  background-color: #0056b8;
  border-color: #0000;
  color: #fff;
}


:where(.css-2i2tap).ant-descriptions {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


:where(.css-2i2tap)[class^="ant-descriptions"], :where(.css-2i2tap)[class*=" ant-descriptions"] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  box-sizing: border-box;
}


.textarea:not([rows]) {
  max-height: 40em;
  min-height: 8em;
}
.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(.75em - 1px);
  resize: vertical;
}
.input, .textarea {
  box-shadow: none;
  max-width: 100%;
  width: 100%;
}
.input, .select select, .textarea {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border-radius: 8px;
  color: #363636;
}




.button.is-fullwidth {
  display: flex;
  width: 100%;
}
.button.is-primary {
  background-color: #0056b8;
  border-color: #0000;
  color: #fff;
}
.button {
  background-color: #fff;
  border-color: #f2f2f2;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
}


.tbody_0{
  background-color: #ffffff;
}


td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

.box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 7px 30px 0 #5b737b1c;
  color: #454545;
  display: block;
  padding: 1.25rem;
}

.text_area_marca{
  overflow-y: hidden;
  padding: 20px; /* Ajusta el padding según tus necesidades */
  box-sizing: border-box;
  width: 100%;
  border: none; /* Elimina el borde */
  resize: none; /* Desactiva la posibilidad de redimensionar */
  height: 50px; /* Establece un alto inicial mínimo */
  min-height: 50px; /* Establece un alto mínimo */
  max-height: 200px; /* Establece un alto máximo */
  transition: height 0.5s ease-in-out; /* Agrega una transición suave al cambiar el alto */
  pointer-events: none;
}